[submodule "JSON-Schema-Test-Suite"]
	path = submodules/JSON-Schema-Test-Suite
	url = git@github.com:json-schema-org/JSON-Schema-Test-Suite.git
[submodule "a2ui"]
	path = submodules/a2ui
	url = git@github.com:google/A2UI.git
	branch = main
